{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}
<link rel="stylesheet"  href="{{ url_for('static', filename='.static/css/index.css') }}">
{% endblock%}
{% endblock%}

{% block content %}
<div class="container"> 
  <div class="row">
      <div class="col-md-12 ">
      <div class="jumbotron  bg-warning mt-3">
          <div class="container">
            <p id="lead"><h4>Login Form</h4> </p>
         
          </div>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
        
        <div class="card mt-5 bg-info " id="display1">
        
          <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 ">
             
              {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
          </div>
          <div class="col-md-3"></div>
      </div>
  </div>
  </div>
    <div clas="col-md-2"> </div>
  </div>
</div>
<div class="container bg-warning mt-5" id ="footer">
  <div class="container text-center" id="socials">
      <p><b>rhonajoy8@gmail.com</b></p>
      <p><b>&copy; 2021</b></p>
      <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
    </div>

</div>
{% endblock%}

    