{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block head %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}
<link rel="stylesheet"  href="{{ url_for('static', filename='.static/css/login.css') }}">
{% endblock%}
{% endblock%}

{% block content %}
<div class="container"> 
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
        
          <!-- <div class="card-body" > -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
    <!-- </div> -->

    <div class="login" >
    {{wtf.quick_form(login_form)}}
    <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
  </div>
     
     </div>
   
      </div>
     <div clas="col-md-2"> </div>
    
</div>

{% endblock%}

      <!-- <form >
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" required class="form-control" id="email"  name="email"  ><br>
          <label for="password">Password</label>
          <input type="password" required class="form-control" id="password" name="password" aria-required=""><br>
          <input type="checkbox" required class="form-control" id="checkbox" name="checkbox" aria-required=""><br>
          <label for="checkbox">REMEMBER ME</label>
            
        </div><br>
        <button type="submit" id="submit" class="btn btn-warning">Log In</button>
    </form> -->