{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css')}}">
{%endblock %}
{% block content %}
 <body>
  <div  class="container">
    <div class="row">
      <div class="col-md-12 ">
      <div class="jumbotron  bg-warning mt-3">
          <div class="container">
          <h1 class="display-4">Pitch Form</h1>
         
          </div>
      </div>
    </div>
  </div>
    <div class="card mt-3 bg-info " id="display1">
        
      <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 ">
         
          {{wtf.quick_form(pitch_form)}}
      </div>
      <div class="col-md-3"></div>
    </div>
    </div>
    
  </div>
 </body> 
 <div class="container bg-warning mt-3" id ="footer">
  <div class="container text-center" id="socials">
      <p><b>rhonajoy8@gmail.com</b></p>
      <p><b>&copy; 2021</b></p>
      <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
    </div>

</div>

 
{%endblock%}