<!-- {% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="jumbotron ">
      {{ wtf.quick_form(form) }}
      <ul class="list-group">
        {% for pitch in pitches %}
        <a href="" >
          <li class="list-item col-lg-4">
            {{ pitch.id }}
          </li>
          <h4>{{ pitch.description }}</h4>
          <h6>Posted by {{ user.username }}.</h6>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %} -->